<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>

        <!-- ✅ Kết nối MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/FUCarRentingSystemDB?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

         <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <!-- Khai báo Entity -->
       <mapping class="com.fucar.entity.Account"/>
        <mapping class="com.fucar.entity.Customer"/>
        <mapping class="com.fucar.entity.Car"/>
        <mapping class="com.fucar.entity.CarProducer"/>
        <mapping class="com.fucar.entity.CarRental"/>
        <mapping class="com.fucar.entity.Review"/>
    </session-factory>
</hibernate-configuration>
